<p>Здравствуйте {{ name }},</p>
<p>Пожалуйста, нажмите ниже, чтобы подтвердить свой адрес электронной почты</p>
<p>
    <a style="background-color: rgb(20, 92, 187); color: white; padding: 5px 10px; border-radius: 10%; border: none; text-decoration: none;"
        href="{{ url }}">Подтверждать</a>
</p>

<p>Если вы не запрашивали это письмо, вы можете смело его игнорировать.</p>